.CareerPathList {
  width: 100%;
}

.CareerPathList__Grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 40px;
  justify-items: center;
}

.CareerPathList__EmptyCard {
  visibility: hidden;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid var(--text);
  border-radius: 28px;
  padding: 20px 16px;
  height: 400px;
}

.CareerPath__SurveyLink {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    border: 1px solid var(--text);
    border-radius: 60px;
    background-color: var(--text);
}

.CareerCard__SurveyLinkAnchor {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
}

.isComingSoon {
    opacity: 0.5;
    cursor: not-allowed;
}

.CareerCard__SurveyText {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.CareerPath__SurveyIcon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

@media screen and (min-width: 1280px) {
  .CareerPathList {
    max-width: 1081px;
  }


  .CareerPath__SurveyIcon {
    width: 32px;
    height: 32px;
  }

  .CareerPathList__Grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 49px;
    margin-bottom: 60px;
    justify-items: stretch;
    min-height: 1270px;
  }


  .CareerCard__SurveyLinkAnchor {
    padding: 20px 40px;
   }

  .CareerCard__SurveyText {
    font-size: 16px;
    letter-spacing: 0.03em;
  }
}