.SectionHeading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--text);
}

.SectionHeading.isInvert {
    color: #fff;
}

.SectionHeading__En {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.04em;
}

.SectionHeading__Title {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.12em;
    line-height: 1.6;
}

@media screen and (min-width: 1280px) {
    .SectionHeading__Title {
        font-size: 24px;
    }
}
