.Pagetop {
    position: relative;
    border: 0;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    > span {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-family: var(--font-poppins);
        font-weight: bold;
        text-align: center;
        font-size: 12px;
        line-height: 1.2;
    }
    > svg {
        position: relative;
        z-index: 1;
    }

    &:hover {
        transform: rotate(-5deg);
    }
}