.SliderWrapper {
  width: 100%;
  position: relative;
  z-index: 0;
}

.Slider {
  width: calc(100% + 48px);
  margin-left: -24px;
  padding: 20px 0 42px;
  overflow: hidden;
}

.Slider :global(.swiper-slide) {
  width: 310px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.Card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 24px;
  padding: 16px 16px 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &::before {
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #475499;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px;
  }

  &:where(:global(.swiper-slide):not(:global(.swiper-slide-active)) &) {
    position: relative;

    &::before {
      opacity: 0.4;
    }
  }
}

.CardImageLink {
  display: block;
  border-radius: 20px;
  overflow: hidden;
}

.CardImage {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.CardTitleLink {
  text-decoration: none;
  color: inherit;
}

.CardTitle {
  margin: 0;
  font-size: 15px;
  line-height: 160%;
  -webkit-text-stroke: 0.3px var(--text);
}

.CardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.CardTag {
  background-color: #475499;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 160%;
  color: #fff;
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  margin-top: 32px;
  position: relative;
  z-index: 1;
}

.CenterControls {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
}

.NavButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  &:nth-child(1 of &) {
    left: calc(50% - 158px);
  }

  &:nth-child(2 of &) {
    right: calc(50% - 158px);
  }
}

.NavButton span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavButtonPc {
  display: none;
}

.CustomPagination {
  display: flex;
  gap: 6px;
  align-items: center;
  max-width: 90px;
  flex-wrap: wrap;
}

.CustomPagination :global(.swiper-pagination-bullet) {
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  margin-inline: 0 !important;
  position: relative;
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;

  svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  circle {
    stroke-dasharray: 62.83;
    stroke-dashoffset: 62.83;
  }
}

.CustomPagination :global(.swiper-pagination-bullet-active) {
  background: #a75884;

  svg {
    display: block;
  }
}

.AutoplayButton {
  aspect-ratio: 1 / 1;
  width: 30px;
  height: auto;
  border-radius: 50%;
  background: #f0f0f0;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  left: calc(100% + 16px);

  svg {
    height: auto;
  }
}

.PauseIcon {
  width: 7px;
  aspect-ratio: 7 / 10;
}

.PlayIcon {
  width: 15px;
  aspect-ratio: 1 / 1;
}

.Slider :global(.swiper) {
  overflow: visible;
  position: relative;

  &::before {
    content: '';
    aspect-ratio: 1;
    z-index: -2;
    background-color: #475499;
    border-radius: 50%;
    width: 1760px;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.Slider :global(.swiper-wrapper) {
  align-items: center;
}

.MarqueeTextWrapper {
  margin-left: -24px;
  width: calc(100% + 48px);
  z-index: 1;
  position: relative;
}

@media (min-width: 1280px) {
  .SliderWrapper {
    z-index: 3;
  }

  .Slider {
    padding-bottom: 92px;
  }

  .Slider :global(.swiper) {
    &::before {
      top: 37.5%;
      width: 2000px;
    }
  }

  .Slider :global(.swiper-slide) {
    width: 630px;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .Slider :global(.swiper-slide):not(:global(.swiper-slide-active)) {
    transform: translateY(90px) scale(0.75);
  }

  .NavButton {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 87px;
    height: auto;
    aspect-ratio: 1 / 1;

    &:nth-child(1 of &) {
      left: calc(50% - 356px);
    }

    &:nth-child(2 of &) {
      right: calc(50% - 356px);
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  .NavButtonSp {
    display: none;
  }

  .NavButtonPc {
    display: block;
  }

  .Card {
    border-radius: 32px;
    padding: 40px 40px 48px;
    row-gap: 14px;

    &::before {
      border-radius: 32px;
    }
  }

  .CardTitle {
    font-size: 22px;
    margin-top: 8px;
  }

  .CardTag {
    padding: 4px 8px;
  }

  .CustomPagination {
    max-width: none;
  }

  .AutoplayButton {
    width: 20px;
  }

  .PauseIcon {
    width: 5px;
  }

  .PlayIcon {
    scale: 1.5;
  }

  .MarqueeTextWrapper {
    margin-left: 0;
    width: 100%;
  }
}
