/* src/components/Community/blocks/ContentBlock.module.css */
.block{
  padding: 92px 80px 80px;
}
.header{ 
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 28px;
}
.placeholder{
  margin-top:16px;
  padding:20px;
  border:1px dashed #aaa;
  border-radius:12px;
}
.serviceIcon {
  width: auto;
  height: 97px;
}
.balloon {
  position: relative;
  border: 1px solid var(--text);
  padding: 18px;
  background: #fff;
  font-size: 13px;
  font-family: var(--font-noto-sans-jp);
  font-weight: bold;
  letter-spacing: 1.3;
}
.balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 12px solid #3a2a2a;
}
.balloon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 12px solid #fff;
}