.tabs{
  display: flex;
  gap: 14px;
  border-bottom: 1px solid var(--text);
  justify-content: center;
  padding: 0 10px;
}
.tabItem{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  text-decoration: none;
  color: var(--text);
  width: calc((100% - 8px)/2);
  min-width: 160px;
  height: 68px;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-noto-sans-jp);
}
.online {
  background: #E0804C;
}
.offline {
  background: #8DC556;
}
.arrowDown {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1280px) {
  .tabs{
    gap: 28px;
  }
  .tabItem{
    border-radius: 10px 10px 0 0;
    width: 420px;
    height: 80px;
    flex-direction: row;
    gap: 26px;
    font-size: 16px;
  }
}