.ReskillBanner {
    display: block;
    width: calc(100% + 24px);
    height: auto;
    margin-left: -12px;
}

@media screen and (min-width: 1280px) {
    .ReskillBanner {
        width: 310px;
        height: 259px;
        margin-left: 0;
    }
}