.Hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 8px solid var(--main);
}

.Hero__ScrollDown {
    position: absolute;
    right: -8px;
    bottom: -8px;
}

.Hero__Copy {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Hero__MainCopy {
    svg {
        width: 85vw;
        height: auto;
    }
}
.Hero__SubCopy {
    margin-top: 2vh;
    svg {
        width: 70vw;
        height: auto;
    }
}

.Hero__BackLogo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    svg {
        width: 97vw;
        height: auto;
    }
}

.Hero__News,
.Hero__ReskillBanner {
    display: none;
}

.Hero__Navigation {
    display: none;
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

@media screen and (min-width: 1280px) {
    .Hero__Copy {
        position: absolute;
        z-index: 3;
        left: 40%;
    }

    .Hero__MainCopy {
        svg {
            width: 65vw;
            height: auto;
        }
    }
    .Hero__SubCopy {
        margin-top: 2vh;
        svg {
            width: 60vw;
            height: auto;
        }
    }
    .Hero__ScrollDown {
        right: auto;
        left: 0;
    }
    .Hero__RigtBottomCorner {
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .Hero__BackLogo {
        top: auto;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0;
    }
    .Hero__ReskillBanner {
        display: block;
        position: absolute;
        z-index: 5;
        right: 25px;
        bottom: 150px;
    }
    .Hero__News {
        display: block;
        position: absolute;
        z-index: 5;
        right: 20px;
        bottom: 20px;
    }
    .Hero__Navigation {
        display: block;
    }
}