.Hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 8px solid var(--main);
}

.Hero__ScrollDown {
    position: absolute;
    right: -8px;
    bottom: -8px;
}

.Hero__Copy {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Hero__MainCopy {
    svg {
        width: 85vw;
        height: auto;
    }
}
.Hero__SubCopy {
    margin-top: 2vh;
    svg {
        width: 70vw;
        height: auto;
    }
}

.Hero__BackLogo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    svg {
        width: 97vw;
        height: auto;
    }
}

@media screen and (min-width: 1280px) {
    .Hero__MainCopy {
        svg {
            width: 75vw;
            height: auto;
        }
    }
}