.FooterMenu {
}
.FooterMenu__MainList {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style: none;
    padding: 0;
}
.FooterMenu__MainItem {
    > a {
        color: #fff;
        display: block;
        text-decoration: none;
        &:hover {
            background: #2f2323;
        }
    }
}

.FooterMenu__Ja {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.FooterMenu__SubList {
    padding: 0;
    list-style: none;
}
.FooterMenu__SubItem {
    font-size: 13px;
    > a {
        display: block;
        color: #fff;
        &:hover {
            background: #2f2323;
        }
    }
}

.FooterMenu__SnsList {
    padding: 0;
    display: flex;
    gap: 10px;

    > li:nth-child(1) {
        path {
            fill: #fff;
        }
    }

    a {
        display: block;
        transition: transform 0.25s ease-in-out;
        &:hover {
            transform: translateY(-3px);
        }
    }
}

.FooterMenu__OtherLinks {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20;
    padding: 0;
}
.FooterMenu__OtherLinkItem {
    font-size: 12px;
    > a {
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
}
.FooterMenu__Copyright {
    font-size: 11px;
    color: #fff;
    text-align: center;
    display: block;
}