.NotFoundHero {
    position: relative;
    margin-left: 8px;
}
.NotFoundHero__Container {
    margin-left: 32px;
    background: var(--main);
    color: #fff;
    border-radius: 0 0 0 16px;
    padding: 25px 35px 35px 0;
    text-align: right;
    position: relative;
}
.NotFoundHero__SubTitle {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.NotFoundHero__Title {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    font-family: var(--font-bagor);
}
.NotFoundHero__Description {
    margin: 0 30px 0 32px;
    padding: 20px 0 24px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px dashed var(--text);
}

@media screen and (min-width: 1280px) {
    .NotFoundHero__Container {
        margin-left: 712px;
        padding: 50px 70px 60px;
    }
    .NotFoundHero__Title {
        font-size: 56px;
        line-height: 1.15;
    }
    .NotFoundHero__Description {
        position: absolute;
        top: 134px;
        left: 0;
        width: 712px;
        margin: 0;
        padding: 0 0 32px 65px;
        font-size: 14px;
        line-height: 2;
    }
}
