.FaqItem {
  border: 1px solid #000;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  padding-bottom: 4px;
}

.FaqItem__Question {
  width: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  list-style: none;
  font-weight: 900;
  padding: 16px 16px 12px;
  column-gap: 12px;
  position: relative;

  &::-webkit-details-marker {
    display: none;
  }
}

.FaqItem__Number {
  flex-shrink: 0;
  border-radius: 50%;
  background: #475499;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Bagor', sans-serif;
  padding: 4px 12px;
}

.FaqItem__QuestionText {
  width: 70%;
  line-height: 1.6;
}

.FaqItem__Icon {
  position: absolute;
  right: 20px;
  aspect-ratio: 1/1;
  width: 14px;
  height: auto;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 2px;
    margin: auto;
    content: '';
    background-color: #475499;
    border-radius: 9999px;
  }

  &::after {
    transition: rotate 0.3s;
    rotate: 90deg;
  }

  .FaqItem__Open &::after {
    rotate: 0deg;
  }
}

.FaqItem__AnswerWrapper {
  transition: block-size 0.5s;
  contain: content;
}

.FaqItem__Answer {
  padding: 0 16px 12px;
}

.FaqItem__AnswerText {
  margin: 0;
  line-height: 180%;
  font-size: 11px;
  background: #eeefed;
  padding: 12px 16px;
}

@media screen and (min-width: 1280px) {
  .FaqItem {
    padding-bottom: 12px;
  }

  .FaqItem__Number {
    font-size: 14px;
    padding: 6px 14px;
  }

  .FaqItem__Icon {
    right: 26px;
  }

  .FaqItem__Question {
    font-size: 16px;
    padding: 24px 18px 12px;
    column-gap: 16px;
  }

  .FaqItem__AnswerText {
    font-size: 12px;
    padding: 16px 26px;
  }
}
