.imgWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.imgItem {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .imgWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .imgItem {
    width: calc((100% - 32px)/2);
  }
}