.ContactButton {
    display: block;
    width: 158px;
    height: 110px;
    background: #E0804C;
    color: var(--text);
    border: 1px solid #342525;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 0px 4px #E0804C;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ContactButton__En {
    display: block;
    font-size: 10px;
    font-family: var(--font-poppins);
}
.ContactButton__Jp {
    display: block;
    font-size: 16px;
}