.Home {
  --pc-container-width: 1080px;
  --pc-background-width: calc(100% - 16px);
  --section-title-font-size: 24px;
  --section-title-font-weight: 600;
  --section-title-logo-width: 92px;
  --section-title-logo-margin-right: 2px;
  --section-title-logo-transform: translateY(-2px);
  --section-en-title-font-size: 14px;
  --section-en-title-font-weight: 900;
  --section-en-title-line-height: 1;
  --section-en-title-margin: 0 0 8px;
  font-family: var(--font-noto-sans-jp);
  font-weight: 600;
  overflow: hidden;
}

.Home__News {
  display: block;
  margin-bottom: 20px;
}

.Home__Hero {
  margin-bottom: 20px;
}

.Home__Contents {
  padding: 0 32px;
}

@media screen and (min-width: 1280px) {
  .Home {
    --section-title-font-size: 32px;
    --section-title-logo-width: 100px;
    --section-en-title-font-size: 16px;
    --section-en-title-margin: 0 0 10px;
  }
  .Home__Hero {
    margin-bottom: 0;
  }
  .Home__Contents {
    padding: 0;
    position: relative;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 8px;
      height: 100%;
      z-index: 2;
    }
    &::before {
      border-left: 8px solid #eeefed;
      left: 0;
    }
    &::after {
      border-right: 8px solid #eeefed;
      right: 0;
    }
  }
  .Home__News {
    display: none;
  }
  .Home__ReskillBanner {
    display: none;
  }
  .Home__Comparison {
    margin-top: -170px;
  }
}
