.Menu {}
.Menu__MainList {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.Menu__MainItem {
    position: relative;
    > a {
        display: block;
        text-decoration: none;
        color: var(--text);
        &:hover {
            background: #eee;
        }
    }
}

.Menu__En {
    font-family: 'Poppins';
    display: block;
    font-weight: 700;
    font-size: 10px;
    color: var(--main);
}

.Menu__Ja {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: var(--text);
}

.Menu__Bar {
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--main);
}

.Menu__SubList {
    display: block;
}

.Menu__SubItem {
    font-size: 13px;
    > a {
        display: block;
        color: var(--text);
        &:hover {
            background: #eee;
        }
    }
}

.Menu__SnsList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Menu__SnsItem {
    > a {
        display: block;
        transition: transform 0.25s ease-in-out;
        &:hover {
            transform: translateY(-3px);
        }
    }
}

@media screen and (min-width: 1280px) {
    .Menu {
        padding: 10px 20px;
        background: #fff;
        border-radius: 40px;
    }
    .Menu__MainList {
        flex-direction: row;
        gap: 30px;
        margin: 0;
        text-align: center;
    }
    .Menu__MainItem {
        > a {
            &:hover {
                background: #fff;
                .Menu__Bar {
                    transform: scaleX(1);
                }
            }
        }
    }
    .Menu__SnsList {
        display: none;
        white-space: nowrap;
    }
    .Menu__SubList {
        display: none;
    }
    .Menu__Bar {
        display: block;
    }
    .Menu__Ja {
        font-size: 10px;
    }
    .Menu.isLower {
        .Menu__SubList {
            display: block;
        }
    }
}