.Menu {}
.Menu__MainList {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.Menu__MainItem {
    > a {
        display: block;
        text-decoration: none;
        &:hover {
            background: #eee;
        }
    }
}

.Menu__En {
/* font-family: 'Poppins'; */
    display: block;
    font-weight: 700;
    font-size: 10px;
    color: var(--main);
}

.Menu__Ja {
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: var(--text);
}


/* Careerコース Career+FullSupportEditionコース Career+VIPEditionコース */
.Menu__SubList {}
.Menu__SubItem {
    font-size: 13px;
    > a {
        display: block;
        color: var(--text);
        &:hover {
            background: #eee;
        }
    }
}

.Menu__SnsList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Menu__SnsItem {
    > a {
        display: block;
        transition: transform 0.25s ease-in-out;
        &:hover {
            transform: translateY(-3px);
        }
    }
}