.Corner {
    position: absolute;
    background: var(--main);
}
.Corner__Inner {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background);
    position: absolute;
}